body{
    font-family: 'Inter', sans-serif;
    font-size:13px;
}



a{
    text-decoration: none;
    color:cornflowerblue;
}

.conteiner{
    display:flex;
    justify-content: space-between;
}

.content{
    max-width: 1150px;
    margin: 0 auto;/*для выравнивания блока по центру*/
    padding:25px 15px;
}

.product{
    display:flex;    
    justify-content: space-between;
}

.product-description_categoris{
    display:flex;
    gap:7%;
    
}

.product-description_price{
    margin-top:25px;
    display:flex;
    font-size:20px;    
    font-family: 'Fira Sans', sans-serif;
}

.product_new-price::after{
    content:' ₽';
    font-weight: bold; 
    color:darkgrey;
}

.product_new-price{
    color:darkgray;
    font-weight: bold;
    margin-left:15px;
}

.product_promo-price::after{
    content:' ₽ ';
    font-weight: bold;
}

.product_promo-price{
    font-weight: bold;
    margin-left:40px;
}

.product_old-price{
    text-decoration:line-through;
    color:darkgrey;

}

.product_button{
    margin-top:20px;
    min-width:200px;
    background-color:#4169E1;
    border:2px solid #4169E1;
    text-transform: uppercase;
    line-height:3em;
    color:white;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-left:10px;
}

.product_button:first-child{
    margin-left:0;
}

.gray_style{
    color:black;
    border:2px solid lightgray;
    background-color: white;
}

.product-description_info{
    margin-top: 30px;
    max-width: 340px;
    background-color:#f3f3f3;
    
}

.product-description-info_elem {
    
    display:flex;
    align-items:center;

}

.product-description_info img{
   width: 25px;
   padding:5px;
}

.product-description_description{
    margin-top:35px;
    line-height:1.5em;
    color:gray;
}

.product-description_share{
    margin-top:35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:flex;    
    align-items:center;
    color:gray;
}

.product-description-share_elements a{
    margin-left: 10px;
}

.product-description-share_elements a:first-child{
    margin-left:25px;
}

.product-description-share_elements img{
    width:30px;
}

.product-description-share_counter{
    margin-left: 35px;    
    padding:7px;
    background-color: #f3f3f3;
    position:relative;
}

.product-description-share_counter::before{
    content: ''; 
    position: absolute;
    left:-15px; top: 10px;
    border: 5px solid transparent;
    border-right: 10px solid #f3f3f3;
}

.product_img{
    display:flex;

}

.product_right_img{
    width:500px;
    display:flex;
    justify-content: center;
}

.product_right_img img{
    height:500px;
}

.product_left_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_left_img img{
    display:block;
}

.product_left_img-slider{
    border: 2px solid #f3f3f3;
    max-width:20px;
    padding: 5px 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.counter{
    display:flex;
    border: 2px solid lightgray;
    border-radius: 3px;
    width: fit-content;
    margin-top: 30px;
}

.counter-number{
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    padding: 5px 20px;
    background-color: #f3f3f3;

}

.counter-sign{
    padding: 5px 10px;
}

.show-img {
    max-height: 120px;
    margin-top: 15px;
}

.show-img:first-child{
    margin-top:0;
}

.first-card{
    display:block;
    border: 3px solid grey;
    background-color:white;
    border-radius:5px;
    font-family: 'Noto Sans Ethiopic', sans-serif;
    width:70%;
    padding:10px 20px;
    margin:10px;
    transition: transform 0.25s;
}

.first-card:hover{
    transform: scale(1.1);
}

.first-card_time{
    text-align: right;
    display:block;
    color: black;
}


.first-card_text{
    text-transform: uppercase;
    font-weight: 700;
    font-size:19px;
    letter-spacing: 1.5px;
    color:black;
}

.second-card{
    display: flex;   
    flex-flow:wrap;
    background-color: #eeeeee;
    font-family: 'Roboto Condensed', sans-serif;
    margin:10px;;
}

.second-card a{
    
    width:calc( 100%  / 3 );
}

.second-card_1{
    margin:25px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);     
    transition: transform 0.15s;
}

.second-card_1:hover{
    transform: scale(1.05);
}


.second-card_text{
    height:3em;
    line-height: 3em;
    width:auto;
    background-color: white;
    padding: 10px;
    border: 1px solid #f3f3f3;
    
}

.second-card_1 img{
    width: 100%;
}

.second_card_img{
    height:350px;
    overflow: hidden;
    background-color: white;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination a{
    color:black;
}

.pagination-elem{
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 5px 10px;
    margin:5px;

}


.href-button:hover{
    background-color: #f3f3f3;
}

ul.breadcrumb {
    padding: 10px 16px;
    margin:10px;
    list-style: none;
    background-color: #f3f3f3;
  }
  
  /* Отображение элементов списка бок о бок */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Добавить символ косой черты (/) перед/за каждым элементом списка */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Добавить цвет для всех ссылок внутри списка */
  ul.breadcrumb li a {
    color: dimgray;
    text-decoration: none;
  }
  
  /* Добавить цвет на наведении курсора мыши */
  ul.breadcrumb li a:hover {
    color: black;
  }